body {
	font-family: Helvetica;
	width: 100%;
	margin: 0 auto;
	color: #333333;

}

.headerwrapper {
	background-color: #0080ff;
	width: 100%;
	margin: 0 auto;
	height: 90px;
	padding-top: 10px;
}

.headerwrapper > .navbar {
	list-style: none;
	margin: 0 auto;
	width: 230px;
	padding-top: 10px;
}

.navbar > li {
	display: inline;
	margin: 0 10px;
	font-weight: 600;
}

.navbar > li a {
	color: #ffffff;
}

.headerwrapper > #title {
	color: #ffffff;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}

#content{
	position: relative;
	width: 100%
}

#mainWrapper {
	
	margin: 0 auto;
	text-wrap: normal;
	font-size: 20px;
	color: #333333;
	padding: 10px 10px 40px 40px;
}

#mainWrapper h3 {
	color: #333333;
}

#mainWrapper .bilde img{
	display: block;
	width: 600px;
	padding-bottom: 5px;
	margin: 0 auto;
	position: relative;
}

td {
	height: auto;
}

.bilde {
	position: relative;
	text-align: center;
	padding-bottom: 15px;
}

#mainwrapper .bilde img.stort{
	width: 90%;
}

.bgbilde {
	position: relative;
	text-align: center;
	padding-bottom: 15px;
}

.bildeboks {
	text-align: center;
}

.caption {
	padding: 3px;
	text-align: center;
}

a {
	text-decoration: none;
	color: orange;
}